<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

</head>

<body>

    <div class="pure-g">
        <div class="pure-u-1-2">
            <form id="formCreate" method="post">
                <!---// Equipment Asset Number //-->
                <div class="form-group">
                    <label for="txtAssetNumber">Asset Number </label>
                    <input type="text" class="form-control" id="txtAssetNumber" name="txtAssetNumber" placeholder="Enter Asset Number" value={{data["asset_no"]}}>
                </div>

                <!---// Manufacturer Name //-->
                <div class="form-group">
                    <label for="txtManufacturerName">Manufacturer Name: </label>
                    <input type="text" class="form-control" id="txtManufacturerName" name="txtManufacturerName" placeholder="Enter Manufacturer Name" value={{data["m_name"]}}>
                </div>

                <!---// Manufacturer Address //-->
                <div class="form-group">
                    <label for="txtManufacturerAddress">Manufacturer Address: </label>
                    <input type="text" class="form-control" id="txtManufacturerAddress" name="txtManufacturerAddress" placeholder="Enter Manufacturer Address" value={{data["m_address"]}}>
                </div>

                <!---// Manufacturer Phone //-->
                <div class="form-group">
                    <label for="txtManufacturerPhone">Manufacturer Phone: </label>
                    <input type="text" class="form-control" id="txtManufacturerPhone" name="txtManufacturerPhone" placeholder="Enter Manufacturer Phone" value={{data["m_phone"]}}>
                </div>

                <!---// Manufacturer Web Page //-->
                <div class="form-group">
                    <label for="txtManufacturerWebPage">Manufacturer Web Page: </label>
                    <input type="text" class="form-control" id="txtManufacturerWebPage" name="txtManufacturerWebPage" placeholder="Enter Manufacturer Web Page" value={{data["m_website"]}}>
                </div>

                <!---// Model //-->
                <div class="form-group">
                    <label for="txtManufacturer">Model: </label>
                    <input type="text" class="form-control" id="txtManufacturer" name="txtManufacturer" placeholder="Enter Model" value={{data["model"]}}>
                </div>

                <!---// Purchased Date //-->
                <div class="form-group">
                    <label for="txtDatePurchased">Purchase Date: </label>
                    <input type="text" class="form-control" id="txtDatePurchased" name="txtDatePurchased" placeholder="Enter Purchase Date" value={{data["purchase_date"]}}>
                </div>

                <!---// Purchase Price //-->
                <div class="form-group">
                    <label for="txtPurchasePrice">Purchase Price: </label>
                    <input type="text" class="form-control" id="txtPurchasePrice" name="txtPurchasePrice" placeholder="Enter Purchase Price" value={{data["price"]}}>
                </div>

                <!---// Warranty Expiration Date //-->
                <div class="form-group">
                    <label for="txtExpirationDate">Warranty Expiration Date: </label>
                    <input type="text" class="form-control" id="txtExpirationDate" name="txtExpirationDate" placeholder="Enter Expiration Date" value={{data["exp_date"]}}>
                </div>

                <!---// Retired Date //-->
                <div class="form-group">
                    <label for="txtRetiredDate">Warranty Expiration Date: </label>
                    <input type="text" class="form-control" id="txtRetiredDate" name="txtRetiredDate" placeholder="Enter Retired Date" value={{data["retire_date"]}}>
                </div>

                <!---// Description //-->
                <div class="form-group">
                    <label for="txtDescription">Description: </label>
                    <input type="text" class="form-control" id="txtDescription" name="txtDescription" placeholder="Enter Description" value={{data["description"]}}>
                </div>

                <!---// Comments //-->
                <div class="form-group">
                    <label for="txtComments">Comments: </label>
                    <textarea class="form-control" rows="5" name="txtComments" value={{data["comments"]}}></textarea>
                    <input type="hidden" name="txtComments" value="1">
                </div>
                <input type="submit" name="submit" value="Update">
                <input type="submit" name="submit" value="Return">
            </form>
        </div>

    </div>

</body>
                            
