<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<link rel="stylesheet" href="{{url_for('static', filename='welcome.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='pure.css')}}"/>
        <title>Freechat</title>
    </head>
  <body>
    <h1 class="center">Freechat login</h1>
    <form class="pure-form center">
        <fieldset>
            <input id="domainname" type="text" placeholder="Domain: freechat.io"><br>
            <input id="username" type="text" placeholder="Username"><br>
            <input id="password" type="password" placeholder="Password"><br>
            <button type="button" class="pure-button pure-button-primary">Submit</button><br>
        </fieldset>
    </form>
  </body>
</html>
